In [4]:
import csv 
data = csv.DictReader("data.csv")

In [7]:
data = csv.DictReader("data.csv")

In [14]:
import os

In [ ]:
import csv

def get_data(file_name="data.csv"):
    """
    Reads data from a CSV file and returns it as a dictionary.

    Args:
        file_name (str, optional): The filename of the CSV file. Defaults to "data.csv".

    Returns:
        dict: A dictionary containing student and course data lists, and a master list.

    Raises:
        FileNotFoundError: If the CSV file is not found.
        ValueError: If there are errors converting data types.
    """

    master_data = {
        "student_data_list": [],
        "course_data_list": [],
        "master_data_list": [],
    }

    try:
        # Construct the file path
        file_path = os.path.join(os.getcwd(), file_name)

        # Open the file in read mode
        with open(file_path, "r") as file:
            reader = csv.DictReader(file)

            # Read the header row (assuming headers exist)
            header = next(reader)
            

            # Process each row
            for data_to_insert in reader:
                print(data_to_insert)
                try:
                    # Convert data to appropriate types (handle potential errors)
                    master_data["student_data_list"].append(data_to_insert["Student id"])
                    master_data["course_data_list"].append(data_to_insert["Course id"])
                    master_data["master_data_list"].append(data_to_insert)
                except ValueError:
                    print(f"Error converting data in row: {data_to_insert}")

    except FileNotFoundError as e:
        print(f"Error: File not found - {file_name}")
        raise  # Re-raise the exception to propagate the error

    return master_data

# Example usage
data = get_data()
print(data)

In [24]:
get_data()

[{'Student id': 1001, 'Course id': 2001, 'Marks': 56},
 {'Student id': 1002, 'Course id': 2001, 'Marks': 67},
 {'Student id': 1003, 'Course id': 2001, 'Marks': 78},
 {'Student id': 1004, 'Course id': 2001, 'Marks': 90},
 {'Student id': 1005, 'Course id': 2001, 'Marks': 45},
 {'Student id': 1001, 'Course id': 2002, 'Marks': 58},
 {'Student id': 1002, 'Course id': 2002, 'Marks': 98},
 {'Student id': 1009, 'Course id': 2002, 'Marks': 12},
 {'Student id': 1007, 'Course id': 2002, 'Marks': 99},
 {'Student id': 1008, 'Course id': 2002, 'Marks': 39},
 {'Student id': 1003, 'Course id': 2003, 'Marks': 34},
 {'Student id': 1004, 'Course id': 2003, 'Marks': 43},
 {'Student id': 1000, 'Course id': 2003, 'Marks': 25},
 {'Student id': 1060, 'Course id': 2003, 'Marks': 60},
 {'Student id': 1090, 'Course id': 2003, 'Marks': 88},
 {'Student id': 1005, 'Course id': 2004, 'Marks': 81},
 {'Student id': 1080, 'Course id': 2004, 'Marks': 59},
 {'Student id': 1030, 'Course id': 2004, 'Marks': 87},
 {'Student id': 1001, 'Course id': 2004, 'Marks': 35},
 {'Student id': 1090, 'Course id': 2004, 'Marks': 33}]

In [30]:
def get_data(file_name = "data.csv"):
        try:
            master_data= {
            "student_data_list" : [] , 
            "course_data_list" : [], 
            "master_data_list" : [] }
            
            
            file_path = os.path.join(os.getcwd(), file_name)
            with open(file_path, "r") as file:
                reader = csv.reader(file)
                header = [j.strip() for j in next(reader)]
                for row in  reader:
                    data_to_insert= []
                    data_to_insert ={key : int(value) for key , value in zip(header, row)}
                    master_data["student_data_list"].append(data_to_insert["Student id"])
                    master_data["course_data_list"].append(data_to_insert["Course id"])
                    master_data["master_data_list"].append(data_to_insert)
        except Exception as e :
            print(e)
    
        return master_data

In [31]:
get_data()

{'student_data_list': [1001,
  1002,
  1003,
  1004,
  1005,
  1001,
  1002,
  1009,
  1007,
  1008,
  1003,
  1004,
  1000,
  1060,
  1090,
  1005,
  1080,
  1030,
  1001,
  1090],
 'course_data_list': [2001,
  2001,
  2001,
  2001,
  2001,
  2002,
  2002,
  2002,
  2002,
  2002,
  2003,
  2003,
  2003,
  2003,
  2003,
  2004,
  2004,
  2004,
  2004,
  2004],
 'master_data_list': [{'Student id': 1001, 'Course id': 2001, 'Marks': 56},
  {'Student id': 1002, 'Course id': 2001, 'Marks': 67},
  {'Student id': 1003, 'Course id': 2001, 'Marks': 78},
  {'Student id': 1004, 'Course id': 2001, 'Marks': 90},
  {'Student id': 1005, 'Course id': 2001, 'Marks': 45},
  {'Student id': 1001, 'Course id': 2002, 'Marks': 58},
  {'Student id': 1002, 'Course id': 2002, 'Marks': 98},
  {'Student id': 1009, 'Course id': 2002, 'Marks': 12},
  {'Student id': 1007, 'Course id': 2002, 'Marks': 99},
  {'Student id': 1008, 'Course id': 2002, 'Marks': 39},
  {'Student id': 1003, 'Course id': 2003, 'Marks': 34},
  {'Student id': 1004, 'Course id': 2003, 'Marks': 43},
  {'Student id': 1000, 'Course id': 2003, 'Marks': 25},
  {'Student id': 1060, 'Course id': 2003, 'Marks': 60},
  {'Student id': 1090, 'Course id': 2003, 'Marks': 88},
  {'Student id': 1005, 'Course id': 2004, 'Marks': 81},
  {'Student id': 1080, 'Course id': 2004, 'Marks': 59},
  {'Student id': 1030, 'Course id': 2004, 'Marks': 87},
  {'Student id': 1001, 'Course id': 2004, 'Marks': 35},
  {'Student id': 1090, 'Course id': 2004, 'Marks': 33}]}

In [2]:
from jinja2 import Template as T1
from string import Template as T2

info = {'det1': 'Civil', 'Name': 'John', 'Civil': 'Mechanical', 'John': 'Sujoy'}

t1 = T1(" ${{Name}} and {{Name}} are {{det1}} and ${{det1}} engineer respectively.")

out1 = t1.render(info)
print(out1)
out2 = T2(out1)
print(out2.substitute(info))

 $John and John are Civil and $Civil engineer respectively.
 Sujoy and John are Civil and Mechanical engineer respectively.

In [ ]:
from string import Template
statement = "$g http method is used to retrieve information while $pfor sending information"
out Template(statement)
=
print(=== OUTPUT ===)
Which of the following statements, when substituted in place of === OUTPUT ===, will
throw a KeyError?
Options:
out.substitute({'g': 'GET'})
6406532239863.